@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  display: block;
  color: inherit;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #000000;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  transition: 0.2s;
  background-color: white;
  color: black;
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #E3DAC9;
  }

  button {
    background-color: #f9f9f9;
  }
}

.header-sitio {
  max-width: 100%;
  background: #4357AD;
  padding: 1%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-menu.show {
  display: block;
}

.header-nav-icon.header-profile {
  position: relative;
}

.header-nav-icon.header-profile:hover .dropdown-menu {
  display: block;
}

.buscador {
  align-self: center;
  width: 260px;
  height: 40px;
  background: #E3DAC9;
  color: black;
  border: transparent;
  border-radius: 10px 10px 10px 10px;
  font-weight: 600;
  padding: 0px 3% 0px 3%;
  font-size: large;
  vertical-align: middle;
}

.buscador-form {
  display: flex;
}

.buscador-button {
  display: inline-block;
  align-self: center;
  align-items: center;
  align-content: center;
  height: 40px;
  background-color: transparent;
  color: black;
  border: transparent;
  border-radius: 10px 10px 10px 10px;
  font-weight: 600;
  padding: 0px 0.5% 0px 0.5%;
  margin-right: 10px;
  font-size: large;
  vertical-align: middle;
}

.buscador-button :hover {
  all: unset
}

.wrapper {
  margin: 0;
  display: flex;
  justify-content: start;
}

.img-logo {
  width: fit-content;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.img-logo img {
  width: 15dvi;
}

.header-nav {
  margin-left: 2%;
  display: flex;
  justify-content: start;

}

.header-whitespace {
  width: fit-content;
}

.header-nav-icon {
  display: flex;
}

.header-nav a {
  text-align: center;
  display: inline-block;
}

.header-nav-icon {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  vertical-align: middle;
}

.header-nav-icon img {
  width: 2.3dvi;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(129deg) brightness(105%) contrast(104%);
}



/* vainas */

.header-under-nav {
  background-color: #E3DAC9;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header-under-nav ul {
  display: flex;
  margin: 2px;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.header-under-nav ul li {
  margin-right: 4%;
  color: black;
  font-weight: bold;
}

.catalogo-overview {
  background-color: #1d1a1a;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  padding: 2.5%;
  display: flex;
  justify-content: center;
}

.catalogo-20 {
  background: white;
  height: max-content;
  width: 20%;
  border-right: solid black;
  /* padding-right: 1.5%;
  padding-left: 1.5%; */
}

.catalogo-80 {

  width: 80%;
  /* padding-left: 1.5%;
  padding-left: 1.5%; */
}

.catalogo-top-nav {
  display: flex;
  justify-content: start;
  background: white;
  color: black;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  border-bottom: solid black;
  font-weight: bold;
}

.ctn-title {
  font-size: 20.5px;
  padding-left: 5%;
  padding-right: 39%;
  word-wrap: unset;
}

.ctn-button {
  align-self: center;
  margin-right: 1%;
  height: fit-content;
}


.side-nav-content {
  padding: 0;
  margin: 0;
}

.snc-category {
  display: block;
}

.snc-expanded {
  overflow: hidden;
  display: none;
  transition: 0.5s ease-in-out;
  background-color: #646cff;
}


.snc-expanded ul {
  padding-left: 0;
}

.snc-expanded-content {
  font-size: 30px;
  color: white;
  padding: 3%;
  padding-left: 20%;
}

.snc-expanded-content :first-child {
  border-top: 0;
}

.side-nav-content li {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid black;
}

.side-nav-content li a {
  display: flex;
  align-items: center;
  width: 276px;
  color: black;
  padding: 5%;
  padding-left: 10%;
  display: block;

  text-decoration: none;
}

.side-nav-content li:hover {
  transition: 0.15s;
  background-color: #4357AD;
  color: black;
}

.side-nav-content li a:hover {
  transition: 0.15s;
  color: white;
  font-weight: bold;
}



.catalogo-side-nav ul {
  background-color: white;
}

.side-nav-title {
  height: 5%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 9% 5% 9% 5%;
  font-weight: bold;
  font-size: 25px;
  background-color: #4357AD;
  border-bottom: solid black;
}

.content-card-overview {
  background: white;
  color: black;
  width: 270px;
  border-radius: 5px;
  margin-bottom: 10%;
}

.cc-image-container {
  display: flex;
  position: relative;
}

.cc-image-container img {
  width: 100%;
}

.cc-image-container-link {
  display: flex;
}

.cc-image-container-link:hover {
  filter: brightness(50%);
  transition: 0.3s ease-in-out;
}

.cc-price-tag {
  width: fit-content;
  background: #4357AD;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  font-size: 250%;
  letter-spacing: -3.2px;
  font-weight: bolder;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.cc-price-tag p {
  margin: 0px;
}

.cc-bottom-block {
  height: fit-content;
}

.cc-bottom-block h3 {
  text-align: center;
  margin: 3%;
  word-wrap: break-word;
}

.cc-bottom-block-buttons {
  display: flex;
  justify-content: center;
}

.cc-bottom-block-buttons button {
  margin-right: 2%;
}

.row-catalogo {
  margin: 5%;
  display: grid;
  grid-row-start: 1;
  grid-template-columns: auto auto auto;
  grid-row-end: 4;

}

.form {
  text-align: center;
}

.form input {
  margin-left: 1%;
}

.top-images img {
  width: 50%;
}

.bottom-images .upper {
  width: fit-content;
}

.image-container {
  margin-top: 0;
  background-color: #E3DAC9;
  display: flex;
  justify-content: space-around;
}

.image3,
.image4,
.image5 {
  width: 200px;
  height: auto;
}

.image6,
.image7,
.image8 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 100px;
  height: 100px;
}

/*Estilos de el perfil de usuario*/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  color: black;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#B873FF, transparent);
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 70%;
  height: 17rem;
  background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
  border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #FFFFFF;
  background-color: #DFE5F2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  width: 100%;
  position: relative;
  border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  left: -2px;
  top: -2px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  align-content: center;
  width: 70%;
  position: relative;
  max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  margin-bottom: 1.25rem;
  text-align: center;
  justify-content: center;
}

.seccion-perfil-usuario .lista-datos {
  width: 50%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

/*Estilos del Footer*/
.footer {
  background-color: #4357AD;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-links li {
  display: inline;
}

.footer-links a:hover {
  color: #000000;
  text-decoration: none;
}

/* Login */

.left-inputs,
.right-inputs {
  display: flex;
  flex-direction: row;
}

.register-login-section {
  background-color: #f0f0f0;
  ;
  display: flex;
  justify-content: space-around;
}

.login-container,
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.login-box,
.register-box {
  background-color: #4357AD;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  box-sizing: border-box;
}

.login-box h1,
.register-box h1 {
  margin: 20px;
  font-weight: bold;
  color: white;
  font-size: 40px;
  text-align: center;
}

.login-box input,
.register-box input {
  background-color: #E3DAC9;
  color: black;
  font-weight: bold;
  max-height: 50px;
  min-width: 140px;
  align-self: center;
  padding: 5px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin-bottom: 10px;
}

.input-container label {
  padding: 7px;
  text-align: center;
  font-size: 23px;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  align-content: center;
}

#weight-lbl {
  padding-left: 5px;
}

.input-container input {
  width: 50%;
}

.login-box button,
.register-box button {
  margin-top: 3%;
  padding: 20px 20px 20px 20px;
  background-color: #4CAF50;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

.login-box button:hover,
.register-box button:hover {
  transition: 0.3s;
  background-color: #317FFF;
}



.login-box form,
.register-box form {
  margin-left: 10px;
  margin-right: 10px;
}

#boton-registro-login {
  width: 50%;
}



/* Producto page */

.producto-overview {
  padding-top: 5%;
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

.producto-imagenes {
  margin-right: 5%;
}

.producto-detalles {
  flex-direction: row;
}

.producto-tallas-button {
  display: inline-block;
  margin-right: 10px;
  /* Espacio entre botones */
}

.producto-tallas-button input[type="radio"] {
  left: -9999px
    /* Oculta el input radio por defecto */
}

.producto-tallas-button label {
  text-align: center;
  display: block;
  padding: 10px 15px;
  /* Espacio interior del bot칩n */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  /* Evita la selecci칩n accidental de texto */
  background-color: black;
  text-align: center;
}

.producto-tallas-button label:hover {
  background-color: #0056b3;
  /* Color de fondo al pasar el mouse */
}

.producto-tallas-button input[type="radio"]:checked+label {
  background-color: #007bff;
  /* Color de fondo cuando est치 seleccionado */
  color: #fff;
  /* Color del texto cuando est치 seleccionado */
}

.producto-btn {
  background-color: #4357AD;
  width: 100%;
  height: 70px;
  margin-bottom: 3%;
}

/*Carrusel*/

.slider {
  height: 592px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px*50);
  animation: scroll 40s linear infinite;
}

/* .slide-track:hover{
  animation-play-state: paused;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 9));
  }
}


.slide {
  height: 450px;
  width: 450px;
  display: flex;
  align-items: center;
  perspective: 100px;
  margin: 0;
}

img {
  width: 100%;
  transition: transform 1s;
}

/* img:hover{
  transform: translateZ(20px);
} */

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/* home */

.home-page-overview {}

.highlights-first {
  display: flex;
  height: 30%;
  background-color: #0056b3;
}

.highlights-first img {
  width: 40%;
}

.highlights-second {
  background-color: #E3DAC9;
  display: flex;
  flex-direction: row-reverse;
  height: 30%;
  color: black;
}

.highlights-desc-container {
  width: 50%;
  padding: 5%;
}

.highlights-second img {
  width: 40%;
}

.highlights-third {
  color: black;
}

/* search */

.search-overview {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.search-overview h1 {
  padding-top: 3%;
  margin: 0;
  text-align: center;
  color: black;
}

.search-result-container {

  margin-top: 0;
  margin-bottom: 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

.search-result-item a {
  border-bottom: solid grey 0.5px;
  padding: 3%;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 40px;
  background-color: white;
}

.search-result-item a :last-child {
  border-bottom: none;
}

.search-result-item :hover {
  transition: 0.3s;
  color: blue;
}

.search-img {
  width: 120px;
  margin-right: 2%;
}

/*ShopCart*/

.cart-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 5%;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-content {
  display: flex;
  justify-content: center;
}

.cart-items {
  flex: 3;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4357AD;
  color: #E3DAC9;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cart-item-details {
  flex: 2;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.cart-item-quantity,
.remove-item {
  font-size: large;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.remove-item {
  margin-left: 20px;
  width: 50px;
  height: 50px;
  justify-content: center;
  cursor: pointer;
}

.discounted-price {
  color: red;
  font-weight: bold;
}

.original-price {
  text-decoration: line-through;
}

.checkout-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  height: 20%;
  width: 100%;
  color: black;
  margin-top: 20px;
}

.cart-summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  padding: 20px;
  background-color: #E3DAC9;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
